@using System.Reflection;

@{
    ViewBag.Title = "Application Inventory";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Application Inventory is the repository for all things related to desktop application deployment, licensing, users, 
    and software control in the BlackRock environment. 
</p>
